@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Halant:wght@400;700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
$base-black: #000000;
$base-dark-blue: #14213d;
$base-grey: rgb(43, 43, 43);
$base-light-orange: #ffb703;
$base-orange: #fca311;
$base-light-gray: #e5e5e5;
$base-white: #ffffff;
$border-radius: 15px;
$box-shadow-color: $base-orange;
$box-shadow-simple: 0px 4px 4px rgba(0, 0, 0, 0.25);
$box-shadow-property: var($box-shadow-simple), 4px 4px 40px $base-orange, inset 4px 5px 4px rgba(0, 0, 0, 0.5);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Halant', serif;
    font-weight: 300;
}

h1 {
    color: $base-light-orange;
    font-weight: 500;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI';
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -msie-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    &.body--gambit {
        background-image: url('/static/images/background_gambit_small.jpg');
    }
    &.body--potter {
        background-image: url('/static/images/background_potter.jpg');

        .logbox {
            background-color:  rgba(200, 210, 220, 0.6);
            border: 3px solid rgb(19, 26, 161);

        }
    }
}

@media (max-width: 768px) {
    body {
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        -msie-background-size: contain;
        background-size: contain;
        align-items: flex-end;
        &.body--gambit {
            background-color: #020416;
        }
        &.body--potter {
            background-color: #07002e;
            background-position: 0 -80px;
        }
    }
}

@media (max-width: 576px) {
    body {
        align-items: center;
    }
}
