#board {
    display: flex;
    flex-wrap: wrap;
    outline: 5px black solid;
    width: 80vh;
    height: 80vh;
}
.square {
    border: 1px darkslategrey solid;
    width: 10vh;
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    font-size: 7.5vh;
}
.light {
    background: rgb(215, 235, 243);
}
.dark {
    background: rgb(43, 43, 43);
}
