@import './App';

.controls {
    display: flex;
    position: absolute;
    z-index: 2;
    padding: 2vh;
    top: 2vh;
    right: 2vh;
    font-size: 6vh;
    color: $base-white;
}

.form {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    top: 15vh;
    right: 2vh;
    width: 50vh;
    height: auto;
    padding: 2vh;
    background-color: $base-white;
    margin: auto;
    padding: 3vh 5vh;
    text-align: center;
    justify-content: space-between;
    &--closed {
        display: none;
    }
    &__header {
        text-transform: uppercase;
        font-family: sans-serif;
        color: $base-light-orange;
        font-size: 4vh;
        &--option {
            font-size: 3vh;
            font-weight: bold;
            margin-top: 1vh;
        }
    }
    &__option {
        margin: 1vh;
        & input {
            opacity: 0;
            width: 0px;
            height: 0px;
            &:checked + label {
                background-color: $base-light-orange;
                color: $base-grey;
            }
        }
    }
    &__label {
        font-size: 3vh;
        color: $base-black;
        &:hover {
            color: $base-light-orange;
        }
    }
    &__button {
        margin-top: 1vh;
        font-size: 3vh;
        padding: 1vh;
        color: $base-light-orange;
        &:hover {
            color: $base-black;
        }
    }
}
